/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilo geral */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle closest-corner ,#1F2937,#58759D);
}
.containerCadastro{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerAgenda{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.containerCriar, .containerEditar{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilo do Login/cadastro */

.login, .cadastro{
    width: 60vw;
    height: 70vh;
    background:
            linear-gradient(
                    to right,
                    rgba(15, 23, 42, 1) 0%,
                    rgba(15, 23, 42, 0.90) 45%,
                    rgba(15, 23, 42, 0) 100%
            ),
            url('img/anotacoes.jpg');

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    border-radius: 25px;
}

.login .informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 0 50px 0;
    gap: 50px;
}

.login .informacoes form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .informacoes form input{
    margin-bottom: 25px;
    width: 100%;
    height: 15px;
    padding: 13px;
    font-size: 12px;
    border-radius: 6px;
    outline: none;
}

#botao{
    background-color: #60A5FA;
    width: 110%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 30px;
    cursor: pointer;
    font-size: 15px;
}

img{
    width: 50vh;
    height: 60vh;
    border-radius: 15px;
}

a{
    color:#58759D;
}

/* Estilo header */
header{
    background-color: #1F2937;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    color:white;
}
header a i{
    color:white;
    margin-right: 15px;
}

header .logo{
    width: 12%;
    height: 70%;
    margin-left: 5px;
}

header .logo img{
    width:100%;
    height:100%;
}
header img{
    width: 12%;
    height: 70%;
    margin-left: 5px;
}

/* Estilo main */
/* Estilo aside */
main{
    height: 80vh;
    width: 100vw;
    display: flex;
}

aside{
    height: 80vh;
    width: 30vh;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.botao{
    background-color: #60A5FA;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.botao a{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: none;
    text-decoration: none;
    color:#1F2937;
}
/* Estilo tabela*/
.tabela{
    height: 80vh;
    width: 70vh;
    overflow-y: auto;
    flex: 1;
}

.tabela::-webkit-scrollbar{
    display: none;
}
table thead th{
    background-color: #60A5FA;
    width: 70vw;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: "Inter",sans-serif;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    padding: 30px;
    text-align: center;
    color: white;
    font-family: "Inter",sans-serif;
}

.alterar, .excluir{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.alterar{
    color:#60A5FA;
    margin-left: 20px;
}

.excluir{
    color: rgb(111, 33, 33);
    margin-left: 10px;
}

/* Criar contato */

.criarContato{
    background-color: #1F2937;
    width: 60%;
    height: 80%;
    border-radius: 25px;
    display: block;
    text-align: center;
}

.criarContato h1{
    font-family: "Inter",sans-serif;
    color: white;
    margin-bottom: 60px;
}

.criarContato form{
    width: 80%;
    height: 60%;
}

.criarContato form input[type=text]{
    width: 60%;
    padding: 10px;
    color: white;
    border: 3px solid #9CA3AF;
    border-radius: 5px;
    background-color: #1F2937;
    margin-bottom: 20px;
    margin-left: 200px;
}

.criarContato form input[type=submit]{
    margin-left: 240px;
    margin-top: 30px;
    width: 60%;
    height: 20%;
    color:white;
    font-family: "Inter",sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form div {
    font-size: 35px;
    display: flex;
    justify-content: center;
    gap:20px;
    color: white;
}

.criarContato form input[type=text]::placeholder{
    color: white;
}