body{
    font-family: "Sans Serif Collection";
    font-size: 1em;
    font-weight: 400;
}

h1{
    color: #66BBFF;
}

img{
    height: 265px;
    width: 265px;
}

.botao{
    text-decoration:none;
    background-color: #66BBFF;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    border: 0;
    cursor:pointer;
}

.caixa1{
    width:320px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #66BBFF;
    border-radius: 5px;
}
.caixa2{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #66BBFF;
    border-radius: 5px;
}

#caixa3{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid red;
}

#tabela{
    margin-top: 30px;
    border-collapse: collapse;
}

#tabela th{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #66BBFF;
    color: white;
}

#tabela td{
    border: 1px solid #ddd;
    padding: 10px;
}
